
<nav class="py-2 border-bottom fixed-top navbar-expand-xl bg-body-tertiary border-bottom">
  <div class="container d-flex flex-wrap">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor04"
      aria-controls="navbarColor04"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor04">
      <a class="navbar-brand fs-4" href="#">
        CodeCraft
      </a>
      <ul class="navbar-nav me-auto">
        {{nav_link('index', 'Home')}} {{nav_link('about', 'About')}}
        {{nav_link('employees', 'Employees')}}
      </ul>
      <ul class="d-flex navbar-nav">
        {% if current_user.is_authenticated %}
          {{nav_link('logout', 'Logout')}}
        {% else %}
        {{nav_link('security.login','Login')}} 
        {{nav_link('register', 'Register')}} 
        {% endif %}
      </ul>
    </div>
  </div>
</nav>