{% extends "base.html" %} {% block title %}Employee Details{% endblock %} {%
block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center justify-content-center g-lg-5 py-5">
    <div class="col-7">
      <div class="bs-component">
        <div class="card border-light mb-3">
          <h3 class="card-header">{{ employee.name }}</h3>
          <div class="card-body">
            <h5 class="card-title">{{ employee.country }}</h5>
            <h6 class="card-subtitle text-muted mt-2">{{ employee.email }}</h6>
          </div>

          <img
            class="card-img"
            src="{{ employee_image }}"
            alt="{{ employee.id }}"
          />

          <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item">Age: {{ employee.age }}</li>
            <li class="list-group-item">Nr: {{ employee.phone }}</li>
            <li class="list-group-item">
              Adress:
              <div>{{ employee.street_name }} {{ employee.street_number }}</div>

              {{ employee.postcode }} {{ employee.city }} {{ employee.state }}
            </li>
          </ul>
          <div class="card-footer">
            Back to all <a href="/employees" class="link">employees</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endblock %}

