{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="container-fluid">
  <iframe 
  width="1236" 
  height="695"
  class="row" 
  
  src="https://www.youtube.com/embed/c_V1iD6F1kk?mute=1&autoplay=true&controls=0" 
  title="Background technology world loop" 
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
  referrerpolicy="strict-origin-when-cross-origin" 
  allowfullscreen></iframe>
</div>
<div id="over">CodeCraft</div>

{% endblock%}