{% extends 'base.html' %} {% block title %}Register{% endblock %} {% block
content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-5">
      <div class="row">
        <h2 class="text-body-secondary">Register</h2>
      </div>
      <form
        action=""
        method="POST"
        class="p-4 p-md-5 border rounded-3 bg-body-tertiary"
      >
        <div class="mb-3">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            max="120"
            id="username"
            value="{{ request.form.username }}"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            value="{{ request.form.password }}"
            id="password"
            class="form-control "
            required
          />

        </div>
        <div class="col">
          {% with messages = get_flashed_messages() %} {% if messages %} {% for
          message in messages %}
          <small> {{ message }} </small>
          {% endfor %} {% endif %} {% endwith %}
        </div>
        <div class="form-group col g-3 mt-4">
          <input class="btn btn-outline-light" type="submit" value="Submit" />
        </div>
        <hr class="mt-4" />
        <small
          >Already have an account?
          <a href="{{ url_for('security.login') }}" class="log-reg-link"
            >Login</a
          >
        </small>
      </form>
    </div>
  </div>
</div>
{% endblock %}
