@use 'custom';

*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}
body{
  display: flex;
  flex-direction: column;
}


footer {
  margin-top: auto;
}
.employee-large-image {
  max-width: 100%;
  height: auto;
  -webkit-transform: scale(0.999);
  transform: scale(0.999);
  image-rendering: auto;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vw/1.77);
}

.mb-3 {
  label {
    display: inline-block;
    margin-bottom: .5rem;
    
  }
}

.log-reg-link {
  color: #1f9bcf;
  &:hover {
    color: #20c997;
  }
}

#over { 
  font-size:10rem; 
  position:absolute; 
  top:50%; 
  left:auto; 
  z-index:2 ;
  text-transform: uppercase;

}

.card-img {
  max-height: 300px;
  object-fit: contain;
}